%h2 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.error_notification
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control'
    - if @validatable
      %span.help-block
        = @minimum_password_length
        characters minimum
  = f.submit "Log in", class: 'btn btn-primary'

= render "devise/shared/links"

